<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--
     When using JUL bridge include this to improve performance.
      -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <!--
     Ensure shutdown hook is installed to flush logging
      -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{ISO8601} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="RollingFileAppender"/>
        </appender>
    -->

    <!--
        <logger name="org.apache.kafka" level="WARN"/>
    -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
